<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{{ app.request.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}">Home</a></li>
            <li class="{{ app.request.get('route') == 'contact' ? 'active' }}"><a href="{{ path('page_show',{'route' : 'contact'}) }}">Contacts</a></li>
            <li class="{{ app.request.get('route') == 'test' ? 'active' }}"><a href="{{ path('page_show',{'route' : 'test'}) }}">Test</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-user">&nbsp;</span>{{ app.user.username|upper }}</a></li>
        </ul>
    </div>
</nav>